/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: black;
    padding: 24px 24px 0;
    background: chocolate;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #44c8f5;
    color: white;
}

::selection {
    background: #44c8f5;
    color: white;
}

body{
    min-width: 45em;
    margin: 0 auto;
    /* Ik ga dat niet vergeten! Het verwijst naar
    de font-size van onze html element. (nu 16*42=672px)*/
}

img{
  max-width: 100%;
   vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
    font-family: "Times New Roman", serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 40px;
}

h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

blockquote{
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}

blockquote*{
    font-size: inherit;
    line-height: inherit;
}

ul,
ol{
    padding-left: 24px;
}

li ul,
li ol{
    margin-bottom: 0;
}

figcaption {
    font-style: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: grey;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;

}

a {
    color: royalblue;
    transition: all .ls ease-in-out;
}

a:visited,
a:active {
    color: blueviolet;
}

a:hover,
a:focus {
    color: crimson;
}

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
*/


/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 58px;
        line-height: 64px;
    }

    html {
        padding: 48px 48px 24px;
    }
}

/* Large devices (landscape tablets, desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
